# configure central
if SHIELD_N1_TRIO_BASE_CENTRAL || SHIELD_N1_TRIO_LEFT_CENTRAL

config ZMK_KEYBOARD_NAME
    default "n1"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

# configure display
if ZMK_DISPLAY

config I2C
    default y

config SSD1306
    default y

endif # ZMK_DISPLAY

if LVGL

config LV_Z_VDB_SIZE
    default 64

config LV_DPI_DEF
    default 148

config LV_Z_BITS_PER_PIXEL
    default 1

choice LV_COLOR_DEPTH
    default LV_COLOR_DEPTH_1
endchoice

endif # LVGL

# for all

if SHIELD_N1_TRIO_BASE_CENTRAL || SHIELD_N1_TRIO_LEFT_PERIPHERAL || SHIELD_N1_DUO_LEFT_CENTRAL || SHIELD_N1_ANY_RIGHT_PERIPHERAL

config ZMK_SPLIT
    default y

endif
