if SHIELD_N1_LEFT

config ZMK_KEYBOARD_NAME
    default "n1"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_N1_LEFT || SHIELD_N1_RIGHT

config ZMK_SPLIT
    default y

if ZMK_DISPLAY

config I2C
    default y

config SSD1306
    default y

endif # ZMK_DISPLAY

endif


